Repository ska-telescope/ska-itf-te: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-base-image, ansible-lint, ansible-test, ansible-test-image-build, deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator, deploy-file-browser

Path conditions:
  build-base-image: any of: Dockerfile
  ansible-lint: any of: .gitlab/ci/ansible.yml, resources/ansible-playbooks/*
  ansible-test: any of: .gitlab/ci/ansible.yml, resources/ansible-playbooks/*
  ansible-test-image-build: any of: resources/ansible-playbooks/images/*
  deploy-ds-sim-standalone: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-ds-sim-standalone: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-ds-sim-ska001: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-ds-sim-ska001: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-ds-sim-ska036: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-ds-sim-ska036: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-ds-sim-ska063: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-ds-sim-ska063: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-ds-sim-ska100: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-ds-sim-ska100: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-dish-structure-simulator: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-dish-structure-simulator: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-file-browser: any of: charts/file-browser/*

AT-1702 another small fix
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1702 HW Config file fixed to represent current build state - thanks AJ
  resources/talon/hw_config.yaml
Due: none

AT-1216 Registered all devices. But needs some more error handling.
  scripts/spfc/register_device.py
Due: none

AT-1718 Use umbrella chart(tango-utils-base) for SUT and TE deployment.
  charts/tango-base-util-umbrella/Chart.yaml
  charts/tango-base-util-umbrella/values.yaml
Due: none

AT-1737 Test linting collabsable set to true.
  .gitlab-ci.yml
Due: none

AT-1702 output location of script
  resources/talon/talon_power_apc.sh
Due: none

AT-1702 temporarily remove build & lint jobs - this might fail
  .gitlab-ci.yml
Due: none

AT-1702 temporarily skipping CBF tests
  tests/integration/cbf/features/cbf_assign_resources.feature
  tests/integration/cbf/features/cbf_start_up_telescope.feature
Due: none

AT-1702 pipeline fixes
  .gitlab-ci.yml
Due: none

AT-1702 temporarily ignore changes in pyproject.toml to speed up pipeline execution
  .gitlab-ci.yml
Due: none

AT-1702: update simuation mode attribute
  tests/integration/resources/models/csp_model/entry_point.py
Due: none

AT-1702: change an to a in scenario
  tests/integration/csp/features/csp_start_up_telescope.feature
Due: none

AT-1702: remove reportVccState check since the attribute no longer exists
  tests/integration/resources/models/csp_model/entry_point.py
Due: none

AT-1702: uncomment mocking fixtures
  tests/integration/resources/models/csp_model/mocking.py
Due: none

AT-1702: comment mocking fixtures and their use
  tests/integration/csp/test_start_up.py
  tests/integration/resources/models/csp_model/mocking.py
Due: none

AT-1216 Updated register SPFC script.
  scripts/spfc/register_device.py
Due: none

AT-1216 Added service restart without password requirement.
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1702 more explicitly try to find the script and small fix to before_script
  .gitlab/ci/sut.yml
  resources/talon/talon_power_apc.sh
Due: none

AT-1702 no time
  .gitlab/ci/sut.yml
Due: none

AT-1702 hide more installation output
  .gitlab/ci/sut.yml
  resources/talon/talon_power_apc.sh
Due: none

AT-1702 stop running the command all the time
  resources/makefiles/cbf-config.mk
Due: none

AT-1702 install expect and wrap Gitlab output of on-demand deployment steps
  .gitlab/ci/common.yml
  Dockerfile
Due: build-base-image

AT-1702 small fixes to remove SDP namespace
  .gitlab/ci/common.yml
  resources/makefiles/k8s-installs.mk
Due: none

AT-1702 set timezone first
  Dockerfile
Due: build-base-image

AT-1702 temporary commit: override pipeline image with
  .gitlab/ci/sut.yml
Due: none

AT-1702 makefile updates and Dockerfile update to include expect
  Dockerfile
Due: build-base-image

AT-1702 SSH Pass installed as well
  Dockerfile
Due: build-base-image

AT-1702 Add SSHPass to the Test Image
  .gitlab/ci/common.yml
  Dockerfile
Due: build-base-image

AT-1216 Added ska000 charts
  .gitlab/ci/dish-aiv.yml
  charts/dish-lmc/values-spfc.yaml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1737 Remove gitlab sections test code.
  .gitlab-ci.yml
Due: none

AT-1216 Reset.
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Updated dishLMC 001 with k8s parameters.
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Deploy dish LMC.
  .gitlab/ci/dish-aiv.yml
  charts/dish-lmc/values-spfc.yaml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Deploy dish LMC 2.
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Deploy dish LMC 3.
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Deploy dish LMC fixed.
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Updated charts.
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1702 add CSP Startup Notebook
  notebooks/Mid CSP Startup.ipynb
Due: none

AT-1216 Added stages.
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator
