Repository ska-telescope/ska-itf-te: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-base-image, ansible-lint, ansible-test, ansible-test-image-build, deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator, deploy-file-browser

build-base-image:
  stage: .pre
  image: docker:19.03.12
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  ...

ansible-lint:
  variables:
    AD_USER: test
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  before_script:
  - export LC_ALL="C.UTF-8"
  - poetry install --only ansible
  stage: lint
  script:
  - make -f resources/ansible-playbooks/Makefile lint

ansible-test:
  variables:
    AD_USER: test
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  before_script:
  - export LC_ALL="C.UTF-8"
  - poetry install --only ansible
  stage: test
  services:
  - name: registry.gitlab.com/ska-telescope/ska-mid-itf/ansible-test-default:0.0.0
    alias: ansible-test-default
  ...

ansible-test-image-build:
  variables:
    AD_USER: test
  stage: build
  script:
  - make -f resources/ansible-playbooks/Makefile oci-build-all CAR_OCI_REGISTRY_HOST=${CI_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}

deploy-ds-sim-standalone:
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  variables:
    DISH_ID: ska$DISH_INDEX
    MINIKUBE: 'false'
    CLUSTER_DOMAIN: miditf.internal.skao.int
    INGRESS_HOST: k8s.miditf.internal.skao.int
    K8S_CHART: dish-structure-simulators
    KUBE_NAMESPACE: dish-structure-simulators
  ...

remove-ds-sim-standalone:
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  variables:
    DISH_ID: ska$DISH_INDEX
    MINIKUBE: 'false'
    CLUSTER_DOMAIN: miditf.internal.skao.int
    INGRESS_HOST: k8s.miditf.internal.skao.int
    K8S_CHART: dish-structure-simulators
    KUBE_NAMESPACE: dish-structure-simulators
  ...

deploy-ds-sim-ska001:
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  variables:
    DISH_ID: ska$DISH_INDEX
    MINIKUBE: 'false'
    CLUSTER_DOMAIN: miditf.internal.skao.int
    INGRESS_HOST: k8s.miditf.internal.skao.int
    K8S_CHART: dish-structure-simulators
    KUBE_NAMESPACE: ds-sim-$DISH_ID
  ...

remove-ds-sim-ska001:
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  variables:
    DISH_ID: ska$DISH_INDEX
    MINIKUBE: 'false'
    CLUSTER_DOMAIN: miditf.internal.skao.int
    INGRESS_HOST: k8s.miditf.internal.skao.int
    K8S_CHART: dish-structure-simulators
    KUBE_NAMESPACE: ds-sim-$DISH_ID
  ...

deploy-ds-sim-ska036:
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  variables:
    DISH_ID: ska$DISH_INDEX
    MINIKUBE: 'false'
    CLUSTER_DOMAIN: miditf.internal.skao.int
    INGRESS_HOST: k8s.miditf.internal.skao.int
    K8S_CHART: dish-structure-simulators
    KUBE_NAMESPACE: ds-sim-$DISH_ID
  ...

AT-1714 allow reference tags in VSCode
  .vscode/settings.json
Due: none

[AT-1714] - Move reference to correct place in rules.
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file with correct reference syntax.
  .gitlab-ci.yml
Due: none

AT-1702 updated charts for manual testing
  charts/system-under-test/Chart.yaml
Due: none

Update README.md
  README.md
Due: none

Update test-equipment-dev.mk
  resources/test-equipment-dev.mk
Due: none

KAR-743 Updated Dish LMC deployment jobs for ITF
  .gitlab/ci/dish-aiv.yml
  charts/dish-lmc/values-cetc-ds.yaml
  charts/dish-lmc/values-spfc.yaml
  charts/dish-lmc/values-spfrx.yaml
  charts/dish-lmc/values.yaml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

KAR-743 Updated uninstall job name
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1702 adding CSP startup Skampi test
  tests/integration/cbf/test_start_up.py
  tests/integration/csp/__init__.py
  tests/integration/csp/conftest.py
  tests/integration/csp/features/csp_start_up_telescope.feature
  tests/integration/csp/test_start_up.py
  tests/integration/resources/models/csp_model/__init__.py
  tests/integration/resources/models/csp_model/entry_point.py
  tests/integration/resources/models/csp_model/mocking.py
Due: none

AT-1702 skeleton fixture for once-off configuration of the Talon Hardware
  tests/integration/conftest.py
Due: none

AT-1702 modified charts slightly
  charts/system-under-test/Chart.yaml
Due: none

AT-1702 Switch off Talon step added
  tests/integration/conftest.py
Due: none

AT-1702 commented out Low config
  tests/integration/resources/models/cbf_model/entry_point.py
Due: none

AT-1702 fixed relative import
  tests/integration/csp/conftest.py
Due: none

AT-1216 Updating tango db and registering SPFC to network.
  .gitlab/ci/dish-aiv.yml
  resources/ansible-playbooks/roles/update_spfc/templates/tango_host.ini.j2
  scripts/spfc/register_device.py
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Fixed ansible linting rules
  resources/ansible-playbooks/site.yml
Due: ansible-lint, ansible-test

AT-1216 Updated and fixed ansible playbooks.
  resources/ansible-playbooks/site.yml
Due: ansible-lint, ansible-test

AT-1216 Install scp on pipeline
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Install scp on pipeline2
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Install scp on pipeline3
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Updated register device script
  scripts/spfc/register_device.py
Due: none

AT-1216 Updated register device script2
  scripts/spfc/register_device.py
Due: none

AT-1216 Updated gitlab deploy spfc job
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1717 Dsiable untested component.
  charts/system-under-test/values.yaml
Due: none

AT-1717 Disable SDP and TMC as well.
  charts/system-under-test/values.yaml
Due: none

AT-1702 added Talon configuration steps - first just do dry-run in pipeline to check parameter output
  .gitlab/ci/sut.yml
  Makefile
  resources/makefiles/cbf-config.mk
  resources/talon/hw_config.yaml
  tests/integration/resources/models/cbf_model/entry_point.py
  tests/integration/resources/models/csp_model/entry_point.py
Due: none

AT-1702 re-enabled CSP post-rebase
  charts/system-under-test/values.yaml
Due: none

AT-1702 linting fixes
  tests/integration/conftest.py
  tests/integration/csp/conftest.py
  tests/integration/resources/models/csp_model/entry_point.py
Due: none

AT-1702 added Talon config files and CSP tests linting fixes
  .gitlab/ci/common.yml
  .gitlab/ci/dish-aiv.yml
  .gitlab/ci/dish-structure-simulator.yml
  .gitlab/ci/sut.yml
  poetry.lock
  pyproject.toml
  resources/makefiles/cbf-config.mk
  resources/talon/talon_power_apc.sh
  tests/integration/conftest.py
  tests/integration/csp/conftest.py
  tests/integration/csp/test_start_up.py
  tests/integration/resources/models/cbf_model/entry_point.py
  tests/integration/resources/models/csp_model/__init__.py
  tests/integration/resources/models/csp_model/entry_point.py
  tests/integration/resources/models/csp_model/mocking.py
  tests/integration/resources/models/mvp_model/__init__.py
  tests/integration/resources/models/mvp_model/env.py
  tests/integration/resources/models/mvp_model/object_with_obsconfig.py
  tests/integration/resources/models/mvp_model/states.py
  tests/integration/resources/utils/__init__.py
  tests/integration/resources/utils/validation.py
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1702 minor fix
  .gitlab/ci/dish-structure-simulator.yml
  resources/talon/talon_power_apc.sh
Due: none

AT-1702 another minor fix
  .gitlab/ci/dish-structure-simulator.yml
Due: none

Path conditions:
  build-base-image: any of: Dockerfile
  ansible-lint: any of: .gitlab/ci/ansible.yml, resources/ansible-playbooks/*
  ansible-test: any of: .gitlab/ci/ansible.yml, resources/ansible-playbooks/*
  ansible-test-image-build: any of: resources/ansible-playbooks/images/*
  deploy-ds-sim-standalone: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-ds-sim-standalone: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-ds-sim-ska001: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-ds-sim-ska001: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-ds-sim-ska036: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-ds-sim-ska036: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-ds-sim-ska063: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-ds-sim-ska063: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-ds-sim-ska100: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-ds-sim-ska100: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-dish-structure-simulator: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-dish-structure-simulator: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-file-browser: any of: charts/file-browser/*
