Repository ska-telescope/ska-itf-te: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-base-image, ansible-lint, ansible-test, ansible-test-image-build, deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator, deploy-file-browser

build-base-image:
  stage: .pre
  image: docker:19.03.12
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  ...

ansible-lint:
  variables:
    AD_USER: test
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  before_script:
  - export LC_ALL="C.UTF-8"
  - poetry install --only ansible
  stage: lint
  script:
  - make -f resources/ansible-playbooks/Makefile lint

ansible-test:
  variables:
    AD_USER: test
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  before_script:
  - export LC_ALL="C.UTF-8"
  - poetry install --only ansible
  stage: test
  services:
  - name: registry.gitlab.com/ska-telescope/ska-mid-itf/ansible-test-default:0.0.0
    alias: ansible-test-default
  ...

ansible-test-image-build:
  variables:
    AD_USER: test
  stage: build
  script:
  - make -f resources/ansible-playbooks/Makefile oci-build-all CAR_OCI_REGISTRY_HOST=${CI_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}

deploy-ds-sim-standalone:
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  variables:
    DISH_ID: ska$DISH_INDEX
    MINIKUBE: 'false'
    CLUSTER_DOMAIN: miditf.internal.skao.int
    INGRESS_HOST: k8s.miditf.internal.skao.int
    K8S_CHART: dish-structure-simulators
    KUBE_NAMESPACE: dish-structure-simulators
  ...

remove-ds-sim-standalone:
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  variables:
    DISH_ID: ska$DISH_INDEX
    MINIKUBE: 'false'
    CLUSTER_DOMAIN: miditf.internal.skao.int
    INGRESS_HOST: k8s.miditf.internal.skao.int
    K8S_CHART: dish-structure-simulators
    KUBE_NAMESPACE: dish-structure-simulators
  ...

deploy-ds-sim-ska001:
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  variables:
    DISH_ID: ska$DISH_INDEX
    MINIKUBE: 'false'
    CLUSTER_DOMAIN: miditf.internal.skao.int
    INGRESS_HOST: k8s.miditf.internal.skao.int
    K8S_CHART: dish-structure-simulators
    KUBE_NAMESPACE: ds-sim-$DISH_ID
  ...

remove-ds-sim-ska001:
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  variables:
    DISH_ID: ska$DISH_INDEX
    MINIKUBE: 'false'
    CLUSTER_DOMAIN: miditf.internal.skao.int
    INGRESS_HOST: k8s.miditf.internal.skao.int
    K8S_CHART: dish-structure-simulators
    KUBE_NAMESPACE: ds-sim-$DISH_ID
  ...

deploy-ds-sim-ska036:
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  variables:
    DISH_ID: ska$DISH_INDEX
    MINIKUBE: 'false'
    CLUSTER_DOMAIN: miditf.internal.skao.int
    INGRESS_HOST: k8s.miditf.internal.skao.int
    K8S_CHART: dish-structure-simulators
    KUBE_NAMESPACE: ds-sim-$DISH_ID
  ...

AT-1216 Updated register device files.
  scripts/spfc/register_device.py
  scripts/spfc/register_spfc.sh
Due: none

AT-1216 REgister SPFC scrips now working
  scripts/spfc/register_device.py
  scripts/spfc/register_spfc.sh
Due: none

AT-1702 updated Taranta version
  charts/system-under-test/Chart.yaml
Due: none

AT-1743 updated DS Sim in pipeline deployments
  charts/dish-structure-simulators/Chart.yaml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Added SPFC device registration through make command.
  Makefile
  resources/makefiles/spfc-register.mk
  scripts/spfc/SPFRx.py
  scripts/spfc/register_device.py
  scripts/spfc/test_device.py
Due: none

AT-1743 rookie error fix
  charts/dish-structure-simulators/Chart.yaml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1743 updated Tango Base & Util charts
  charts/ska-mid-itf/Chart.yaml
Due: none

AT-1702 enabled tmleafnode
  charts/system-under-test/values.yaml
Due: none

AT-1702 reverted Taranta update
  charts/system-under-test/Chart.yaml
  notebooks/Mid CSP Startup.ipynb
Due: none

AT-1216 Updated README and spfc-register.mk files
  README.md
  resources/makefiles/spfc-register.mk
Due: none

AT-1702 coupled TMLeafnode to CBFMCS
  charts/system-under-test/Chart.yaml
  charts/system-under-test/values.yaml
Due: none

AT-1702 follow the advice in https://skao.slack.com/archives/CEMF9HXUZ/p1698760009922639?thread_ts=1698759843.764389&cid=CEMF9HXUZ
  Dockerfile
Due: build-base-image

AT-1702 improved commments
  notebooks/Mid CSP Startup.ipynb
Due: none

AT-1216 Fixed linting issues.
  README.md
  resources/makefiles/spfc-register.mk
  scripts/spfc/register_device.py
Due: none

AT-1702 set tz correctly
  Dockerfile
Due: build-base-image

AT-1702 update Dockerfile
  Dockerfile
Due: build-base-image

AT-1702: add csp feature files
  tests/integration/csp/features/csp_assign_resources.feature
  tests/integration/csp/features/csp_configure_scan.feature
  tests/integration/csp/features/csp_scan.feature
Due: none

AT-1702 updated CBF-MCS and modified graph (graph might fail - check Confluence update now)
  charts/system-under-test/Chart.yaml
  sut_config.yaml
Due: none

AT-1702 fixed version of ITF to value found in .release
  sut_config.yaml
Due: none

[AT-1487] - Connect dish lmc 001 to dish structure simulator.
  .gitlab-ci.yml
  .gitlab/ci/dish-aiv.yml
  .gitlab/ci/dish-structure-simulator.yml
  Makefile
  charts/dish-lmc/values-cetc.yaml
  charts/dish-lmc/values.yaml
  docs/src/purpose.rst
  resources/makefiles/test-equipment-dev.mk
  resources/test-equipment-dev.mk
  scripts/ds-sim/service-env.sh
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1702: add test files for CSP
  tests/integration/csp/test_assign_resources.py
  tests/integration/csp/test_configure.py
  tests/integration/csp/test_scan.py
Due: none

AT-1702: set CBF simuation mode to True for initial test run
  tests/integration/resources/models/csp_model/entry_point.py
Due: none

AT-1753 deploy AWG to Mid ITF
  charts/test-equipment-verification/values.yaml
Due: none

AT-1718 expected refactoring (not yet finished) as part of bootstrap session
  charts/ska-mid-itf/values.yaml
  charts/system-under-test/Chart.yaml
  charts/system-under-test/values.yaml
  charts/tango-base-util-umbrella/values.yaml
  charts/tango-base-util/Chart.yaml
  charts/tango-base-util/values.yaml
Due: none

[AT-1731] - Revert Mid ITF deployment changes made durring STFC <--> AWS switch.
  .gitlab-ci.yml
  .gitlab/ci/ansible.yml
  .gitlab/ci/common.yml
  .gitlab/ci/dish-aiv.yml
  .gitlab/ci/sut.yml
  resources/ansible-playbooks/testing/run.sh
Due: ansible-lint, ansible-test, deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1753 deploy AWG to Mid ITF
  charts/ska-mid-itf/values.yaml
Due: none

AT-1718 Perform an actual re-factoring.
  charts/dish-lmc/Chart.yaml
  charts/ska-mid-itf/Chart.yaml
  charts/ska-mid-itf/values.yaml
  charts/system-under-test/Chart.yaml
  charts/system-under-test/values.yaml
  charts/tango-base-util-umbrella/values.yaml
  charts/tango-base-util/Chart.yaml
  charts/tango-base-util/values.yaml
  charts/test-equipment-verification/Chart.yaml
  charts/test-equipment-verification/values.yaml
Due: none

AT-1718 Fix merge-conflict problem.
  charts/ska-mid-itf/Chart.yaml
  charts/tango-base-util/Chart.yaml
Due: none

AT-1216 Can we read protected variable?
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Can we read protected variable2?
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Can we read protected variable3
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Progress in SPFC registration
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Progress in SPFC registration2
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Progress in SPFC registration3
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Progress in SPFC registration4
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Progress in SPFC registration5
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Progress in SPFC registration6
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

Path conditions:
  build-base-image: any of: Dockerfile
  ansible-lint: any of: .gitlab/ci/ansible.yml, resources/ansible-playbooks/*
  ansible-test: any of: .gitlab/ci/ansible.yml, resources/ansible-playbooks/*
  ansible-test-image-build: any of: resources/ansible-playbooks/images/*
  deploy-ds-sim-standalone: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-ds-sim-standalone: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-ds-sim-ska001: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-ds-sim-ska001: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-ds-sim-ska036: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-ds-sim-ska036: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-ds-sim-ska063: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-ds-sim-ska063: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-ds-sim-ska100: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-ds-sim-ska100: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-dish-structure-simulator: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-dish-structure-simulator: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-file-browser: any of: charts/file-browser/*
