Repository ska-telescope/ska-itf-te: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-base-image, ansible-lint, ansible-test, ansible-test-image-build, deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator, deploy-file-browser

build-base-image:
  stage: .pre
  image: docker:19.03.12
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  ...

ansible-lint:
  variables:
    AD_USER: test
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  before_script:
  - export LC_ALL="C.UTF-8"
  - poetry install --only ansible
  stage: lint
  script:
  - make -f resources/ansible-playbooks/Makefile lint

ansible-test:
  variables:
    AD_USER: test
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  before_script:
  - export LC_ALL="C.UTF-8"
  - poetry install --only ansible
  stage: test
  services:
  - name: registry.gitlab.com/ska-telescope/ska-mid-itf/ansible-test-default:0.0.0
    alias: ansible-test-default
  ...

ansible-test-image-build:
  variables:
    AD_USER: test
  stage: build
  script:
  - make -f resources/ansible-playbooks/Makefile oci-build-all CAR_OCI_REGISTRY_HOST=${CI_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}

deploy-ds-sim-standalone:
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  variables:
    DISH_ID: ska$DISH_INDEX
    MINIKUBE: 'false'
    CLUSTER_DOMAIN: miditf.internal.skao.int
    INGRESS_HOST: k8s.miditf.internal.skao.int
    K8S_CHART: dish-structure-simulators
    KUBE_NAMESPACE: dish-structure-simulators
  ...

remove-ds-sim-standalone:
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  variables:
    DISH_ID: ska$DISH_INDEX
    MINIKUBE: 'false'
    CLUSTER_DOMAIN: miditf.internal.skao.int
    INGRESS_HOST: k8s.miditf.internal.skao.int
    K8S_CHART: dish-structure-simulators
    KUBE_NAMESPACE: dish-structure-simulators
  ...

deploy-ds-sim-ska001:
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  variables:
    DISH_ID: ska$DISH_INDEX
    MINIKUBE: 'false'
    CLUSTER_DOMAIN: miditf.internal.skao.int
    INGRESS_HOST: k8s.miditf.internal.skao.int
    K8S_CHART: dish-structure-simulators
    KUBE_NAMESPACE: ds-sim-$DISH_ID
  ...

remove-ds-sim-ska001:
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  variables:
    DISH_ID: ska$DISH_INDEX
    MINIKUBE: 'false'
    CLUSTER_DOMAIN: miditf.internal.skao.int
    INGRESS_HOST: k8s.miditf.internal.skao.int
    K8S_CHART: dish-structure-simulators
    KUBE_NAMESPACE: ds-sim-$DISH_ID
  ...

deploy-ds-sim-ska036:
  tags:
  - ska-k8srunner-za-itf
  image: $SKA_K8S_TOOLS_BUILD_DEPLOY
  variables:
    DISH_ID: ska$DISH_INDEX
    MINIKUBE: 'false'
    CLUSTER_DOMAIN: miditf.internal.skao.int
    INGRESS_HOST: k8s.miditf.internal.skao.int
    K8S_CHART: dish-structure-simulators
    KUBE_NAMESPACE: ds-sim-$DISH_ID
  ...

AT-1718 Add chart relevant information at the riight place.
  charts/tango-base-util-umbrella/Chart.yaml
  charts/tango-base-util-umbrella/values.yaml
Due: none

AT-1702 Talon script simplified, Makefiles edited
  .gitlab/ci/common.yml
  charts/system-under-test/Chart.yaml
  resources/makefiles/cbf-config.mk
  resources/talon/talon_power_apc.sh
Due: none

AT-1702 add ping
  Dockerfile
Due: build-base-image

AT-1702 no rebuild to speed up CI
  .gitlab-ci.yml
  .gitlab/ci/common.yml
Due: none

AT-1702 reverted no-rebuild
  .gitlab-ci.yml
Due: none

AT-1702 epic fail
  .gitlab-ci.yml
  .gitlab/ci/common.yml
Due: none

AT-1702 folder not found
  .gitlab/ci/common.yml
Due: none

AT-1702 also install in pre-script
  .gitlab/ci/common.yml
Due: none

AT-1702 fixed Talon makefile
  resources/makefiles/cbf-config.mk
Due: none

AT-1702 fixed up TZ
  .gitlab/ci/common.yml
Due: none

AT-1702 adding netcat check at start of pipeline to see if interface is up
  .gitlab/ci/common.yml
Due: none

AT-1702 small steps towards hw-in-loop test
  .gitlab/ci/common.yml
  .gitlab/ci/sut.yml
Due: none

AT-1743 makefile output slightly more helpful
  scripts/ds-sim/service-info.sh
Due: none

AT-1743 output is pretty
  scripts/ds-sim/service-info.sh
Due: none

AT-1015 change admin mode values for spectrum analyser from 1/0 to True/False
  dashboards/Consolidated_Dashboards - Pi0.wj
Due: none

AT-1702 fixed MR and this time remembered to save
  .gitlab/ci/common.yml
Due: none

AT-1216 Testing gitlab staging
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Testing gitlab staging2
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Testing gitlab staging3
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Testing gitlab staging4
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Testing gitlab staging5
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Testing gitlab staging6
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Testing gitlab staging7
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Updated kubectl command to use docker image.
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1702 check version of linting and Docker image
  Makefile
  notebooks/Mid CSP Startup.ipynb
Due: none

AT-1216 Updated register_device.py to add properties once the device has been registered.
  scripts/spfc/register_device.py
Due: none

AT-1216 Fixed syntax errors.
  scripts/spfc/register_device.py
Due: none

AT-1216 Update gitlab and register SPFC files.
  .gitlab/ci/dish-aiv.yml
  scripts/spfc/register_device.py
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Update gitlab file with spfc restart.
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Updated gitlab file
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Install docker
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Install docker sudo
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Install docker sudo 2
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Install docker sudo 3
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Install docker sudo 4
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

AT-1216 Install docker sudo 5
  .gitlab/ci/dish-aiv.yml
Due: deploy-ds-sim-standalone, remove-ds-sim-standalone, deploy-ds-sim-ska001, remove-ds-sim-ska001, deploy-ds-sim-ska036, remove-ds-sim-ska036, deploy-ds-sim-ska063, remove-ds-sim-ska063, deploy-ds-sim-ska100, remove-ds-sim-ska100, deploy-dish-structure-simulator, remove-dish-structure-simulator

Path conditions:
  build-base-image: any of: Dockerfile
  ansible-lint: any of: .gitlab/ci/ansible.yml, resources/ansible-playbooks/*
  ansible-test: any of: .gitlab/ci/ansible.yml, resources/ansible-playbooks/*
  ansible-test-image-build: any of: resources/ansible-playbooks/images/*
  deploy-ds-sim-standalone: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-ds-sim-standalone: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-ds-sim-ska001: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-ds-sim-ska001: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-ds-sim-ska036: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-ds-sim-ska036: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-ds-sim-ska063: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-ds-sim-ska063: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-ds-sim-ska100: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-ds-sim-ska100: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-dish-structure-simulator: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  remove-dish-structure-simulator: any of: .gitlab/ci/dish-aiv.yml, charts/dish-structure-simulators/*
  deploy-file-browser: any of: charts/file-browser/*
